<div class="container">
  <h1>Previews</h1>
  <% @restaurants.each do |restaurant| %>
  <div class="well preview">
    <%= image_tag restaurant.image_url(:thumb) %>
    <p><h2><%= restaurant.title %></h2></p>
     <h3><%= restaurant.description  %></h3>
     <p><h3>Cash Value: <%= number_to_currency(restaurant.cash_value) %></h3></p>
  </div>
  <% end %>
</div>
